<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="5" packages="org.apereo.cas.logging" status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <RollingRandomAccessFile  name="rollingFile" fileName="logs/cas.log" append="true"
                     filePattern="logs/$${date:yyyy-MM}/cas-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <!--<DefaultRolloverStrategy max="40"/> -->
        </RollingRandomAccessFile >
    </Appenders>
    <Loggers>
		<logger name="perfStatsLogger" level="error" />
        <asyncRoot  level="info" >
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </asyncRoot>
    </Loggers>
</Configuration>
